[package]
name = "mech-interpreter"
version = "0.2.22"
authors = ["Corey Montella <corey@mech-lang.org>"]
description = "The Mech language runtime."
documentation = "http://docs.mech-lang.org"
homepage = "https://mech-lang.org"
repository = "https://github.com/mech-lang/mech"
keywords = ["mech", "language", "programming", "dataflow", "runtime"]
categories = ["no-std", "science::robotics", "science", "game-engines", "database-implementations"]
license = "Apache-2.0"
readme = "README.md"
edition = "2021"

[badges]
gitlab = { repository = "mech-lang/mech", branch = "main" }
maintenance = { status = "actively-developed" }

[features]
default = ["stdlib", "Bool", "unsigned-ints", "signed-ints", "floats", "matrix"]
stdlib = []
signed-ints = ["I8", "I16", "I32", "I64"]
unsigned-ints = ["U8", "U16", "U32", "U64"]
floats = ["F32", "F64"]
Bool = []
U8 = []
U16 = []
U32 = []
U64 = []
U128 = []
I8 = []
I16 = []
I32 = []
I64 = []
I128 = []
F32 = []
F64 = []
matrix = ["fixed-matrix", "fixed-vector", "fixed-row-vector", "RowVectorD", "VectorD", "MatrixD"]
fixed-row-vector = ["RowVector4", "RowVector3", "RowVector2"]
fixed-vector = ["Vector4", "Vector3", "Vector2"]
fixed-matrix = ["Matrix4", "Matrix3", "Matrix2", "Matrix1", "Matrix2x3", "Matrix3x2"]
RowVector4 = []
RowVector3 = []
RowVector2 = []
Vector4 = []
Vector3 = []
Vector2 = []
Matrix4 = []
Matrix3 = []
Matrix2 = []
Matrix1 = []
Matrix2x3 = []
Matrix3x2 = []
RowVectorD =[]
VectorD = []
MatrixD = []

[dependencies]
mech-core = "0.2.22"
mech-math = "0.2.23"
mech-logic = "0.2.22"
mech-compare = "0.2.22"
mech-range = "0.2.22"
mech-matrix = "0.2.22"

nalgebra = "0.33.2"
indexmap = "2.7.0"
libm = "0.2.11"
simba = "0.9.0"
paste = "1.0.15"

[dependencies.num-traits]
version = "0.2.19"
default-features = false
features = ["libm"]