image: "rust:latest"

test:cargo:
  script:
  - rustup default nightly-2020-04-01
  - rustup show
  - rustc --version && cargo --version
  - rustup component add rust-src
  - cargo test --all
  - cargo bench --all
