image: "rust:latest"

test:cargo:
  script:
  - rustup default nightly-2021-12-25
  - rustup show
  - rustc --version && cargo --version
  - rustup component add rust-src
  - cargo build --release
  - cargo bench