[submodule "core"]
	path = core
	url = https://gitlab.com/mech-lang/core.git
[submodule "notebook"]
	path = notebook
	url = https://gitlab.com/mech-lang/notebook.git
[submodule "syntax"]
	path = syntax
	url = https://gitlab.com/mech-lang/syntax.git
[submodule "assets"]
	path = assets
	url = https://gitlab.com/mech-lang/assets.git
