test:cargo:
  variables:
    CARGO_TERM_COLOR: always
    RUST_BACKTRACE: full
  script:
  - rustup show
  - rustup default nightly-2025-11-12
  - cargo clean
  - cargo build --bin mech
  - cargo build --no-default-features
  - cargo test interpret --no-default-features --features "base u8 u16 u32 u64 u128 i8 i16 i32 i64 i128 f32"
  - cargo test bytecode --no-default-features --features "base u8 u16 u32 u64 u128 i8 i16 i32 i64 i128 f32"