image: "mechlang/mech:latest"

test:cargo:
  script:
  - rustup default nightly-2022-03-27
  - rustup show
  - rustc --version && cargo --version
  - rustup component add rust-src
  - cargo build --release
  - mech test tests
