[submodule "core"]
	path = core
	url = ../core.git
[submodule "server"]
	path = server
	url = ../server.git
[submodule "notebook"]
	path = notebook
	url = ../notebook.git
[submodule "syntax"]
	path = syntax
	url = ../syntax.git
[submodule "assets"]
	path = assets
	url = ../assets.git