[submodule "assets"]
	path = assets
	url = https://gitlab.com/mech-lang/assets.git
	branch = v0.1-beta
[submodule "examples"]
	path = examples
	url = https://gitlab.com/mech-lang/examples.git
	branch = v0.1-beta
[submodule "docs"]
	path = docs
	url = https://gitlab.com/mech-lang/docs.git
	branch = v0.1-beta
[submodule "core"]
	path = src/core
	url = https://gitlab.com/mech-lang/core.git
	branch = v0.1-beta
[submodule "syntax"]
	path = src/syntax
	url = https://gitlab.com/mech-lang/syntax.git
	branch = v0.1-beta
[submodule "program"]
	path = src/program
	url = https://gitlab.com/mech-lang/program.git
	branch = v0.1-beta
[submodule "utilities"]
	path = src/utilities
	url = https://gitlab.com/mech-lang/utilities.git
	branch = v0.1-beta
[submodule "wasm"]
	path = src/wasm
	url = https://gitlab.com/mech-lang/wasm.git
	branch = v0.1-beta
[submodule "notebook"]
	path = notebook
	url = https://gitlab.com/mech-lang/notebook.git
	branch = v0.1-beta