[package]
name = "mech-utilities"
version = "0.0.5"
authors = ["Corey Montella <corey@mech-lang.org>"]
description = "Shared components and utilities for Mech"
documentation = "http://docs.mech-lang.org"
homepage = "http://mech-lang.org"
repository = "https://github.com/mech-lang/utilities"
keywords = ["mech"]
categories = ["science::robotics", "science"]
license = "Apache-2.0"
readme = "README.md"

[badges]
gitlab = { repository = "mech-lang/utilities", branch = "main" }
maintenance = { status = "actively-developed" }

[dependencies]
mech-core = {git = "https://gitlab.com/mech-lang/core"}

serde = {version = "1.0.123", default-features = false, features = ["alloc"] }
serde_derive = "1.0.123"
hashbrown = "0.11.2"
crossbeam-channel = "0.5.1"
[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
websocket = "0.26.2"