[package]
name = "mech-wasm"
version = "0.0.5"
authors = ["Corey Montella <corey@mech-lang.org>"]
description = "A web assembly wrapper for Mech core and syntax. Allows Mech to be embedded in the browser."
documentation = "http://docs.mech-lang.org"
homepage = "http://mech-lang.org"
repository = "https://github.com/mech-lang/wasm"
keywords = ["mech", "language", "programming", "wasm", "reactive"]
categories = ["science::robotics", "science", "wasm", "web-programming"]
license = "Apache-2.0"
readme = "README.md"

[badges]
gitlab = { repository = "mech-lang/wasm", branch = "main" }
maintenance = { status = "actively-developed" }

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
mech-core = {git = "https://gitlab.com/mech-lang/core", branch = "v0.1-beta"}
mech-syntax = {git = "https://gitlab.com/mech-lang/syntax", branch = "v0.1-beta"}
mech-utilities = {git = "https://gitlab.com/mech-lang/utilities", branch = "v0.1-beta"}
mech-math = {git = "https://gitlab.com/mech-lang/machines/math", branch = "v0.1-beta"}

hashbrown = "0.11.2"
wasm-bindgen = "0.2.78"
bincode = "1.3.3"
js-sys = "0.3.55"
lazy_static = "1.4.0"
miniz_oxide = "0.5.1"
base64 = "0.13.0"

[dev-dependencies]
wasm-bindgen-test = "0.3.28"

[dependencies.web-sys]
version = "0.3.55"
features = [
  'Document',
  'Element',
  'HtmlElement',
  'HtmlDivElement',
  'HtmlImageElement',
  'HtmlCanvasElement',
  'HtmlInputElement',
  'InputEvent',
  'MouseEvent',
  'KeyboardEvent',
  'TouchEvent',
  'Event',
  'EventTarget',
  'CanvasRenderingContext2d',
  'Node',
  'Window',
  'Selection',
  'Range',
  'HtmlCollection',
  'WebSocket',
  'MessageEvent',
  'BinaryType',
  'Blob',
  'ErrorEvent',
  'ProgressEvent',
  'HashChangeEvent',
  'FileReader',
  'Location',
  'console',
  'XmlHttpRequest',
]
