[package]
name = "mech-syntax"
version = "0.0.5"
authors = ["Corey Montella <corey@mech-lang.org>"]
description = "A toolchain for compiling textual syntax into Mech blocks."
documentation = "http://docs.mech-lang.org"
homepage = "http://mech-lang.org"
repository = "https://github.com/mech-lang/syntax"
keywords = ["mech", "language", "programming", "parser", "compiler"]
categories = ["no-std", "science::robotics", "science", "parser-implementations"]
license = "Apache-2.0"
readme = "README.md"
edition = "2018"

[badges]
gitlab = { repository = "mech-lang/syntax", branch = "main" }
maintenance = { status = "actively-developed" }

[features]
default = []
no-std = ["mech-core/no-std", "rlibc"]

[dependencies]
mech-core = {git = "https://gitlab.com/mech-lang/core", branch = "v0.1-beta"}

hashbrown = "0.11.2"
lazy_static = "1.4.0"
nom = "6.2.1"
nom-unicode = "0.3.0"
unicode-segmentation = "1.9.0"
rlibc = { version = "=1.0", optional = true }
serde = "1.0.133"
serde_derive = "1.0.133"
