[package]
name = "mech-wasm"
version = "0.0.1"
authors = ["Corey Montella <corey@mech-lang.org>"]
description = "A web assembly wrapper for Mech core and syntax. Allows Mech to be embedded in the browser."
documentation = "http://mech-lang.org/page/learn/"
homepage = "http://mech-lang.org"
repository = "https://github.com/mech-lang/wasm"
keywords = ["mech", "language", "programming", "wasm", "reactive"]
categories = ["science::robotics", "science", "wasm", "web-programming"]
license = "Apache-2.0"
readme = "README.md"

[badges]
gitlab = { repository = "mech-lang/wasm", branch = "master" }
maintenance = { status = "actively-developed" }

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
hashbrown = "0.1.8"
mech-core = "0.0.1"
mech-syntax = "0.0.1"
wasm-bindgen = "0.2"
serde = {version = "1.0.46", default-features = false, features = ["alloc"] }
serde_derive = "1.0.46"

[dev-dependencies]
wasm-bindgen-test = "0.2"

[profile.release]
opt-level = "s"

[dependencies.web-sys]
version = "0.3.14"
features = [
  'Document',
  'Element',
  'HtmlElement',
  'HtmlDivElement',
  'HtmlImageElement',
  'HtmlCanvasElement',
  'HtmlInputElement',
  'InputEvent',
  'Event',
  'EventTarget',
  'CanvasRenderingContext2d',
  'Node',
  'Window',
  'HtmlCollection',
  'console',
]