[package]
name = "mech-program"
version = "0.0.1"
authors = ["Corey Montella <corey@mech-lang.org>"]
description = "Organizes Mech cores into a coordinated program. Handles reading files, interfacing with libraries, and persisting changes top disk."
documentation = "http://mech-lang.org/page/learn/"
homepage = "http://mech-lang.org"
repository = "https://github.com/mech-lang/program"
keywords = ["mech", "language", "programming", "dataflow", "runtime"]
categories = ["science::robotics", "science", "game-engines", "web-programming"]
license = "Apache-2.0"
readme = "README.md"

[badges]
gitlab = { repository = "mech-lang/program", branch = "master" }
maintenance = { status = "actively-developed" }

[dependencies]
time = "0.1.39"
serde = "1.0.46"
serde_derive = "1.0.46"
serde_json = "1.0.17"
bincode = "0.8"
mech-core = {path = "../core"}
mech-syntax = {path = "../syntax"}