[package]
name = "mech-wasm"
version = "0.2.2"
authors = ["Corey Montella <corey@mech-lang.org>"]
description = "A web assembly wrapper for Mech core and syntax. Allows Mech to be embedded in the browser."
documentation = "http://docs.mech-lang.org"
homepage = "https://mech-lang.org"
repository = "https://github.com/mech-lang/wasm"
keywords = ["mech", "language", "programming", "wasm", "reactive"]
categories = ["science::robotics", "science", "wasm", "web-programming"]
license = "Apache-2.0"
readme = "README.md"
edition = "2021"

[badges]
gitlab = { repository = "mech-lang/wasm", branch = "main" }
maintenance = { status = "actively-developed" }

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
mech-core = {path = "../core", features = ["wasm"]}
mech-syntax = {path = "../syntax"}
mech-utilities = {path = "../utilities"}
mech-math = {path = "../machines/math"}
mech-html = {path = "../machines/html"}

hashbrown = "0.15.0"
wasm-bindgen = "0.2.93"
bincode = "1.3.3"
js-sys = "0.3.70"
lazy_static = "1.5.0"
miniz_oxide = "0.8.0"
base64 = "0.22.1"

[dev-dependencies]
wasm-bindgen-test = "0.3.43"

[dependencies.web-sys]
version = "0.3.70"
features = [
  'Document',
  'Element',
  'HtmlElement',
  'HtmlDivElement',
  'HtmlImageElement',
  'HtmlCanvasElement',
  'HtmlInputElement',
  'InputEvent',
  'MouseEvent',
  'KeyboardEvent',
  'TouchEvent',
  'Event',
  'EventTarget',
  'CanvasRenderingContext2d',
  'Node',
  'Window',
  'Selection',
  'Range',
  'HtmlCollection',
  'WebSocket',
  'MessageEvent',
  'BinaryType',
  'Blob',
  'ErrorEvent',
  'ProgressEvent',
  'HashChangeEvent',
  'FileReader',
  'Location',
  'console',
  'XmlHttpRequest',
  'Crypto',
]